.displayheader {
   
    
}

.header-container {
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url('../stylesheets/images/cinema.jpg');
    background-size: 100% 100%;
    /* transform: translate(-0%, -25%); */
}

h1 {
    color: whitesmoke;
    text-align: center;
    /* line-height: 300px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-0%, -0%);
}

.logout-btn {
    float: right;
    transform: translate(-70%, 0%);
}

.logout-btn {
    background-color: red;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
  }
  
  .logout-btn:hover {
    background-color: maroon;
  }

  .userName {
      float: right;
      position: right;
      transform: translate(-70%, 40%);
      color: white;
      font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
      font-size: 14px;
        font-weight: 600;
        line-height: 20px;
  }