#displaymovieitems {
    background-color: black;
}

.movie-items-container {
    display: flex;
}

#movie-items-poster{
    float: left;
    padding: 20px;
}

#movie-items-info{
    float: left;
}

h3 {
    color: whitesmoke
}


p {
    color: whitesmoke
}

hr {
    background-color: red;
    height: 1px;
}