/* .showallcomments {
    background-color: gray;
} */

li {
    margin: 30px;
}

hr {
    background-color: black;
    height: 1px;
}

.delete-btn {
    background-color: red;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
  }
  
  .delete-btn:hover {
    background-color: maroon;
  }